:root {
    --body-background: linear-gradient(135deg, #667eea, #764ba2);
    --background-color: #fefefe;
    --text-color: black;
    --button-background: #000;
    --button-text-color: #fefefe;
    --card-background: #EDEDED;
    --card-hover-background: #D9D9D9;
    --generate-button-background: #000;
    --generate-button-hover-background: #484242;
    --generate-button-border: #000;
    --generate-button-hover-border: #333;
}

[data-theme="dark"] {
    --body-background: linear-gradient(135deg, #3a3a3a, #222222);
    --background-color: #1e1e1e;
    --text-color: white; 
    --button-background: #333; 
    --button-text-color: #fefefe;
    --card-background: #333;
    --card-hover-background: #444;
    --generate-button-background: #555; 
    --generate-button-hover-background: #666; 
    --generate-button-border: #333;
    --generate-button-hover-border: #555;
}


.button-primary, .theme-toggle-button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: 2px solid var(--button-background);
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button-secondary{
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: 2px solid var(--button-background);
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border-radius: 10px;
    padding: 5px;
}


.home-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 25px;
    border-radius: 15px;
    align-items: center;
}


.main {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.main-header {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 25px;
}

.main-header h1, .main-header p {
    margin: 0;
}

body {
    background: var(--body-background);
    color: var(--text-color);
    text-align: center;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 32px;
    margin-bottom: -5px;
    font-weight: 600;
    color: var(--text-color);
}


.select-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: end;
    gap: 20px;
    width: 100%;
}

.select-box-container {
    position: relative;
    width: 180px;
    text-align: left;
    cursor: pointer;
}

.select-box {
    padding: 12px;
    background: #fefefe;
    color: #000;
    border-radius: 8px;
    font-size: 14px;
    text-align: left;
    border: 2px solid #000;
}

.select-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.select-container .generate-button {
    margin-left: auto;
}

.arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fefefe;
    border-radius: 8px;
    border: 2px solid black;
    margin-top: 5px;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.option {
    padding: 12px;
    cursor: pointer;
    text-align: left;
    color: black;
    font-size: 13px;
    border-radius: 8px;
}

.option:hover {
    background-color: #e0e0e0;
}

.generate-button {
    padding: 15px;
    background: var(--generate-button-background);
    color: var(--button-text-color);
    border: 2px solid var(--generate-button-border);
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transform: rotate(90deg);
}

.generate-button svg {
    width: 16px;
    height: 16px;
    transform: scale(1.4);
    fill: white;
}

.generate-button:hover {
    border-color: var(--generate-button-hover-border);
    background-color: var(--generate-button-hover-background);
    box-shadow: 2px 2px 12px rgba(50, 50, 50, 0.5);
}

#input-select {
    display: flex;
    gap: 50px; 
}


/* Contrainte de hauteur pour activer le scroll */
.excuse-list {
    max-height: 400px;  /* Ajuste cette valeur selon tes besoins */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 5px; /* Pour éviter que le contenu soit caché par la scrollbar */
}

/* Customisation de la scrollbar (pour Chrome, Edge, Safari) */
.excuse-list::-webkit-scrollbar {
    width: 8px;
}


.excuse-item-container {
    background-color: var(--card-background);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: auto;
    flex-wrap: wrap; 
}

.excuse-item-container:hover {
    background-color: var(--card-hover-background);
}

.excuse-item {
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
    transition: transform 0.2s;
    width: 75%;
}


.copy-button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.copy-button:hover {
    background-color: transparent;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: end;
    align-self: flex-end;
}

.header-button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: 2px solid var(--button-background);
    border-radius: 8px;
    padding: 12px;  
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-decoration: none;
    color: white;
}