.home-container {
    background-color: #fefefe;
    padding: 25px;
    border-radius: 15px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.main-header {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 25px;
}

.main-header h1, .main-header p {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 32px;
    margin-bottom: -5px;
    font-weight: 600;
    color: #000;
}

p {
    margin-bottom: 30px;
    color: #000;
}

.select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.select-box-container {
    position: relative;
    width: 180px;
    text-align: left;
    cursor: pointer;
}

.select-box {
    padding: 12px;
    background: #fefefe;
    color: #000;
    border-radius: 8px;
    font-size: 14px;
    text-align: left;
    border: 2px solid #000;
}

.select-group {
    display: flex;
    gap: 10px;
}

.select-container .generate-button {
    margin-left: auto;
}

.arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fefefe;
    border-radius: 8px;
    border: 2px solid black;
    margin-top: 5px;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.option {
    padding: 12px;
    cursor: pointer;
    text-align: left;
    color: black;
    font-size: 13px;
    border-radius: 8px;
}

.option:hover {
    background-color: #e0e0e0;
}

.generate-button {
    padding: 15px;
    background: #000;
    color: #fefefe;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transform: rotate(90deg)
}

.generate-button svg {
    width: 16px;
    height: 16px;
    transform: scale(1.4);
    fill: white;
}

.generate-button:hover {
    border-color: #333;
    background-color: #484242;
    box-shadow: 2px 2px 12px rgba(50, 50, 50, 0.5);
}

/*
.skeleton {
    width: 100%;
    height: 35px;
    background: linear-gradient(90deg, #ccc 25%, #ddd 50%, #ccc 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite linear;
    border-radius: 4px;
    margin: 10px 0;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
*/

.excuse-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.excuse-item-container {
    background-color: #EDEDED;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
}


.excuse-item {
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    transition: transform 0.2s;
    width: 75%;
}

.copy-button {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.copy-button:hover {
    background-color: transparent;
}